<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Welcome To Login</h1>
        @RenderBody()
    </div>
</body>
</html>
<a href="c:\users\rsgow\source\repos\webtask\views\shared\_login.cshtml">c:\users\rsgow\source\repos\webtask\views\shared\_login.cshtml</a>